@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');


* {
font-family: Roboto;
}

.stack-logo {
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;

}

.stack-options{
  display: flex;
  align-self: center;
  align-items: flex-end;
}

.logo {
  height: 100%;
}

.navbar {
  height: 6vh;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;   
  flex-wrap: nowrap;
}